{% for state in states %}
{{ state.entity_id + ": " + state.state }}
{% endfor %}
automation.akvarie_turn_off: on
automation.akvarie_turn_on: on
automation.motion_detected_stue: off
automation.notify_ios_test: off
automation.stue_sluk_lys: on
automation.stue_taend_lys: on
automation.stue_toggle_dobbeltklik: on
binary_sensor.aeotec_zw100_multisensor_6_sensor: off
binary_sensor.stue_multi_sensor: off
device_tracker.cp_iphone: home
group.all_automations: on
group.all_devices: home
group.all_lights: on
group.all_remotes: off
group.all_scripts: off
group.all_switches: on
group.default_datetimeweather: unknown
group.default_favorites: on
group.default_light_akvarie: on
group.default_view: on
group.group_stue_lys_loft: on
group.group_stue_lys_lyskaede: on
group.group_stue_sensor: off
group.group_stue_wallplug: on
group.system_hwmonitor: unknown
group.system_reload: off
group.system_zwave_devices: unknown
group.tab_stue: on
group.tab_system: off
group.tab_test: on
group.test_automation: on
group.test_dev: off
input_number.akvarie_sunset: 100.0
input_select.akvarie_sunset_direction: Solnedgang
light.fibaro_system_fgd212_dimmer_2_level: off
light.fibaro_system_fgd212_dimmer_2_level_2: off
light.k_loftlys: unavailable
light.stue_akvarie_back: on
light.stue_akvarie_front: on
light.stue_akvarie_main: on
light.stue_akvarie_middle: on
light.stue_akvarie_rgb: on
light.stue_akvarie_white: off
light.stue_lys_bord: off
light.stue_lys_loft: on
light.stue_lys_loft_level_2: on
light.stue_lys_tv: on
light.v_lys_skab: off
media_player.apple_tv: off
media_player.badevrelse: paused
media_player.felix: paused
media_player.kkken: paused
media_player.nana: paused
media_player.stue: paused
media_player.tv_stue: on
remote.apple_tv: off
script.akvarie_turn_off: off
script.akvarie_turn_on: off
script.stue_lys_turn_off: off
script.stue_lys_turn_on: off
script.test_dev: off
script.test_light_toggle: off
script.test_skriv_i_logbook: off
script.trigger_reload_all: off
script.trigger_reload_automation: off
script.trigger_reload_core: off
script.trigger_reload_group: off
script.trigger_reload_script: off
sensor.aeotec_zw100_multisensor_6_alarm_level: 0
sensor.aeotec_zw100_multisensor_6_alarm_type: 0
sensor.aeotec_zw100_multisensor_6_burglar: 0
sensor.aeotec_zw100_multisensor_6_luminance: 0.0
sensor.aeotec_zw100_multisensor_6_relative_humidity: 52.0
sensor.aeotec_zw100_multisensor_6_sourcenodeid: 0
sensor.aeotec_zw100_multisensor_6_temperature: 25.0
sensor.aeotec_zw100_multisensor_6_ultraviolet: 0.0
sensor.cp_iphone_x_battery_level_4: 43
sensor.cp_iphone_x_battery_state_4: Unplugged
sensor.cpu_temperature: 35
sensor.date_long: 15 April 2018
sensor.date_short: 15/04/2018
sensor.disk_free_: 93.1
sensor.disk_use_percent_: 3.7
sensor.fibaro_system_fgd212_dimmer_2_alarm_level: 0
sensor.fibaro_system_fgd212_dimmer_2_alarm_type: 0
sensor.fibaro_system_fgd212_dimmer_2_exporting: False
sensor.fibaro_system_fgd212_dimmer_2_heat: 254
sensor.fibaro_system_fgd212_dimmer_2_power: 35.6
sensor.fibaro_system_fgd212_dimmer_2_power_2: 0.0
sensor.fibaro_system_fgd212_dimmer_2_power_management: 254
sensor.fibaro_system_fgd212_dimmer_2_sourcenodeid: 0
sensor.fibaro_system_fgd212_dimmer_2_system: 1
sensor.fibaro_system_fgd212_dimmer_2_unknown: 14.51
sensor.load_15m: 0.11669921875
sensor.memory_use_percent: 9.1
sensor.nextsunrise: 06:06 16/04/2018
sensor.nextsunrisetime: 06:06
sensor.nextsunset: 20:19 16/04/2018
sensor.nextsunsettime: 20:19
sensor.processor_use: 0
sensor.since_last_boot: 4 days, 0:16:05.647254
sensor.stue_akvarie_energy: 0.24
sensor.stue_akvarie_power: 30.4
sensor.stue_akvarie_power2: 30.4
sensor.stue_akviare_exporting: False
sensor.stue_lys_loft_alarm_level: 0
sensor.stue_lys_loft_alarm_type: 0
sensor.stue_lys_loft_energy: 2.41
sensor.stue_lys_loft_exporting: False
sensor.stue_lys_loft_heat: 254
sensor.stue_lys_loft_power: 0.9
sensor.stue_lys_loft_power_2: 0.9
sensor.stue_lys_loft_power_management: 254
sensor.stue_lys_loft_sourcenodeid: 0
sensor.stue_lys_loft_system: 1
sensor.stue_lys_lyskaede_alarm_level: 0
sensor.stue_lys_lyskaede_alarm_type: 0
sensor.stue_lys_lyskaede_exporting: False
sensor.stue_lys_lyskaede_management: 254
sensor.stue_lys_lyskaede_power: 3.1
sensor.stue_lys_lyskaede_power_2: 3.1
sensor.stue_lys_lyskaede_sourcenodeid: 0
sensor.stue_lys_lyskaede_unknown: 4.2
sensor.stue_multi_alarm_level: 0
sensor.stue_multi_alarm_type: 0
sensor.stue_multi_burglar: 0
sensor.stue_multi_luminance: 0.0
sensor.stue_multi_relative_humidity: 53.0
sensor.stue_multi_sourcenodeid: 0
sensor.stue_multi_statistics_humidity_mean: 50.95
sensor.stue_multi_temperature: 22.4
sensor.stue_multi_ultraviolet: 0.0
sensor.stue_wallplug_alarm_level: 0
sensor.stue_wallplug_alarm_type: 0
sensor.stue_wallplug_energy: 1.02
sensor.stue_wallplug_exporting: False
sensor.stue_wallplug_power: 0.0
sensor.stue_wallplug_power_2: 0.0
sensor.stue_wallplug_power_management: 254
sensor.stue_wallplug_sourcenodeid: 0
sensor.weekofyear: 15
sensor.yr_symbol: 3
sun.sun: below_horizon
switch.stue_lys_lyskaede: on
switch.stue_wallplug_switch: on
zone.home: zoning
zwave.gang_lys: ready
zwave.gang_multi: initializing
zwave.stue_akvarie: ready
zwave.stue_lys_loft: ready
zwave.stue_lys_lyskaede: ready
zwave.stue_multi: ready
zwave.stue_wallplug: ready
zwave.zwave_controller: ready
